#aboutModal {
  .modal-content {
    .modal-header {
      border: none;
      padding-bottom: 0;

      .modal-title {
        text-align: center;
      }

      button:focus {
        outline: none;
      }
    }
  }
}