@mobile-small: 399px;
@mobile-big: 400px;
@tablet-small: 768px;
@tablet-big:1200px;

#depositModal {
  ::-webkit-input-placeholder {color:#fff;}
  ::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
  :-moz-placeholder           {color:#fff;}/* Firefox 18- */
  :-ms-input-placeholder      {color:#fff;}



  [class*="col-lg"]{
    @media (max-width: 1279px) {
      width: 100%!important;
    }
  }



  .form {
    margin: 0 auto;
    width: 980px;
    padding: 36px 0 72px 0;
  }


  .text-input {
    border: 1px solid #414141;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    color: #666666;
    padding: 11.5px 16px;
    text-align: center;
  }

  .text-input:focus {
    color: #999999;
    border-color: #666666;
    background: rgba(0, 0, 0, 0.8);
  }

  .form-main {
    background: url("../img/new_deposit_two1.png") no-repeat;
    height: 440px;
    position: relative;
    float: left;
  }

  .form-control.active {
    color: #FFF;
  }

  .form-control.error {
    color: #f33030;
  }

  .form-control.error input {
    border-color: #f33030;
  }

  .form-control.card {
    position: absolute;
    top: 240px;
  }

  .form-control.country {
    position: absolute;
    top: 156px;
  }

  .form-control.amount {
    position: absolute;
    top: 90px;
  }

  .form-control.card input {
    width: 84px;
    margin-right: 9px;
  }

  .form-control.expire {
    position: absolute;
    bottom: 85px;
  }

  .form-control.expire input {
    width: 54px;
  }

  .form-control.name {
    position: absolute;
    top: 158px;
  }
  .form-control.name input{
    width: 205px;
    text-align: left;
  }

  .form-control.cvv {
    position: absolute;
    right: 25px;
    bottom: 108px;
    width: 109px;
  }

  .form-control.cvv input {
    width: 70px;
  }

  .form-side {
    position: relative;
    /*height: 272px;*/
    float: left;
    width: 352px;
  }

  .form-side h3 {
    margin-top: 0;
  }

  .form-side button {
    position: absolute;
    bottom: 0;
  }

  .form-side .error {
    color: #f33030;
    padding-left: 27px;
    margin: 0;
    white-space: nowrap;
  }

  .side-status {
    width: 18px;
    height: 16px;
    margin-right: 9px;
    display: inline-block;
    position: relative;
  }

  .step {
    margin: 10px 0;
  }

  .step.unfilled .side-status::after, .step.active .side-status::after {
    content: '-';
    position: absolute;
    display: block;
    width: 18px;
    height: 16px;
    text-align: center;
    top: -6px;
  }

  .step.filled .side-status {
    background: url("../img/done.png") no-repeat;
  }

  .payment-systems{
    margin-top: 0!important;
    width: 310px!important;
    position: absolute;
    top: 18px;
    right: 134px;
  }

  .modal-dialog {
    margin-bottom: 0;
    margin-top: 2px;
    width: 55%;
    line-height: 16px;
    //font-size: 14px;

    @media (min-width: 1280px) {
      width: 1200px;
    }




    @media(max-height: 600px) {
      margin-top: 5%;
    }
    @media(max-height: 550px) {
      margin-top: 1%;
    }


    #new-card{

      .form-main{
        .form-control{
          background: none;
          border: none;
          box-shadow: none;

          .cvv {
            position: absolute;
            right: 21px;
            bottom: 109px;
            width: 109px;
          }
        }
      }
    }

    .modal-content {
      background: #23292d;;
      padding: 30px;
      border-radius: 3px;
      font-weight: 500;
      min-width: 805px;
      //

      input, label{
        color: #fff !important;
      }
      & > * {
        padding: 0;
      }

      .modal-header {
        border-bottom: none;
        padding-bottom: 0;
        color: #e0e0e0;
        position: relative;
        min-height: 50px !important;

        .modal-title{
          line-height: 3;
        }

        .logo-broker{
          width: 98%;
          float: left;
          margin-bottom: 12px;
          .logo-deposit{
            width: 95px;
            height: 40px;
            float: right;
            position: absolute;
            right: 42px;
            top: -12px;

            .deposit-logo{
              width: 95px;
              height: 40px;
              display: inline-block;
            }
          }
        }
        img.lock-icon {
          height: 22px;
        }
      }

      .modal-body {
        color:#23292d !important;


        .footer{
          border-top: none;
          margin-top: 43px;

          div.info {
            font: 400 12px 'Lato', sans-serif;
            display: inline-block;
            float: left;
            color:#fff;
            width: 123px;
            text-align: left;
            font-weight: 300;
          }
        }

        .new-card,
        .exist-card{
          padding: 15px;
          margin: 20px auto;
        }


        #new-card{
          .form-main{
            .form-control{
              background: none;
              border: none;
              box-shadow: none;
            }
          }
        }


        div .col-md-6 {
          padding-left: 0;
          padding-right: 0;
        }

        .error-message{
          color:#fc1d1d;
          font-size: 12px;
        }
        .error-message:first-letter {
          text-transform: uppercase;
        }
        input.amount-input {
          margin-top: 15px;
          border: none;
          font: 400 18px @lato;
          background: #23292d;
          color: #fff !important;
          border-bottom: 2px solid #909191;
          width: 92%;
          padding-bottom: 8px;

          &:focus {
            outline: none;
          }
        }

        .payment-systems {
          //margin-top: 37px;
          //width: 100%;

          button {
            height: 51px;
            margin-right: 15px;
            border: 2px solid #515456;
            background-color: #f5f5f5;
            border-radius: 2px;
            position: relative;
            padding: 5px;

            .check {
              display: none;
              width: 22px;
              height: 22px;
              background-color: #61ff30;
              border-radius: 50%;
              position: absolute;
              right: -10px;
              top: -8px;

              i {
                margin-top: 4px;
              }
            }



            &.visa-mastercard {
              //width: 87px;
              //border: 2px solid transparent !important;
              //background-color: transparent !important;

              background-color: transparent !important;
              //.check {
              //  display: inline-block;
              //}

              img {
                //height: 100%;
              }


            }

            &.active{
              border: 2px solid #61ff30 !important;
              background-color: transparent !important;
              .check {
                display: inline-block;
              }
            }
            //
            //&.visa-mastercard:focus {
            //  border: 2px solid #61ff30 !important;
            //  background-color: transparent !important;
            //  .check {
            //    display: inline-block;
            //  }
            //}

            &.paypal {
              width: 98px;
              img {
                height: 132%;
                margin-top: -2px;
              }
            }

            &.skrill {
              width: 76px;

              img {
                height: 100%;
                width: 100%;
                margin-top: -2px;
              }
            }


            //&:focus {
            //  border-color: #61ff30;
            //  background-color: #fff;
            //  .check {
            //    display: inline-block;
            //  }
            //}
          }
        }

        input.city-input{
          margin-top:15px !important;
        }

        select.form-control{
          width: 96%;
        }

        input.card-number-input,
        input.city-input,
        input.address-input,
        input.phone-input {
          margin-top: 3px;
          border: none;
          color:#fff;
          font: 400 18px 'Lato', sans-serif;
          border-bottom: 2px solid #909191;
          width: 94%;
          padding-bottom: 6px;
          background: #23292d;

          &:focus {
            outline: none;
          }
        }

        input.name-on-card-input {
          margin-top: 0;
          border: none;
          color:#fff;
          font: 400 18px 'Lato', sans-serif;
          background: #23292d;
          border-bottom: 2px solid #909191;
          width: 86%;
          padding-bottom: 6px;

          &:focus {
            outline: none;
          }
        }

        input.validation-date-input, input.cvv-input {
          margin-top: 0;
          margin-right: 10px;
          border: none;
          background: #23292d;
          border-bottom: 2px solid #909191;
          padding-bottom: 6px;
          color:#fff;
          font: 400 18px 'Lato', sans-serif;
          width: 86%;

          &:focus {
            outline: none;
          }
        }

        label {
          margin-top: 13px;
          margin-bottom: 0;
          font: 400 14px 'Lato', sans-serif;
          color:#858687;
        }
      }

      .modal-footer {
        border-top: none;
        margin-top: 43px;

        div.info {
          font: 400 12px 'Lato', sans-serif;
          display: inline-block;
          float: left;
          color:#fff;
          width: 123px;
          text-align: left;
          font-weight: 300;
        }
      }

      button {
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        text-shadow: none;
        border-radius: 3px;
        text-transform: uppercase;


        &.btn-default {
          color: #ffffff;
          background: transparent;
          font: 700 16.5px @lato;

          //&:hover {
          //  color: #000;
          //
          //}
        }
        &.btn-primary {
          color: #000000;
          background-color: #61ff30;
          font: 600 14px 'Lato', sans-serif;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }

}

@media (max-width: 1279px){
  #depositModal #new-card .form-main  {
    min-height: 0 !important;
    min-width: 0 !important;
  }
}

#videoDepositModal, #depositModal {
  ::-webkit-input-placeholder {color:#fff;}
  ::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
  :-moz-placeholder           {color:#fff;}/* Firefox 18- */
  :-ms-input-placeholder      {color:#fff;}

  -webkit-overflow-scrolling: auto !important;
  overflow-y: auto !important;
  @media (max-width: @tablet-big) {
    width: 100%!important;
  }

  @media(min-width: @tablet-small)and (max-width: 1010px){
    .col-xs-6 {
      width: 100%;
    }
    .video{
      width: 100% !important;
      padding-left: 0!important;
      padding-right: 0 !important;

      #video-frame{
        width: 100% !important;
        padding-left: 0!important;
        padding-right: 0 !important;
      }

    }
  }

  @media(min-width: @mobile-big) and (max-width: 767px){
    .col-xs-6,.col-xs-8,
    .col-xs-4 {
      width: 100%;
    }

    padding-left: 0 !important;

    .modal-dialog{
      margin-left: 8px !important;
    }

    .video{
      width: 100% !important;
      padding-left: 0!important;
      padding-right: 0 !important;

      #video-frame{
        width: 100% !important;
        padding-left: 0!important;
        padding-right: 0 !important;
      }

    }
  }

  @media (max-width:@mobile-small){
    padding-left: 0 !important;
    .modal-backdrop{
      height: 1259px;
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      top: 0;
      -webkit-overflow-scrolling: touch;
      overflow-y: scroll;
    }
    .modal-dialog{
      min-height: 1259px;
      margin-left: 10px !important;
    }
    .col-xs-6,.col-xs-8,
    .col-xs-4 {
      width: 100%;
    }
    .form-control{
      padding-left: 0;
    }

    .video{

      #video-frame{
        height: 220px !important;
      }
    }
    .mobile{
      margin-left: 15px !important;
      margin-right: 15px !important;
      margin-top: 30px !important;
    }
  }

  .form-input{
    top: 449px;
    @media (max-width:@mobile-small){
      top: 500px !important;
    }


  }
  .form-control.cvv{
    @media (min-width: 1279px) {
      top: 297px;
      position: absolute;
      right: 22px;
    }
    @media(max-width:@tablet-big){
      right: 18px !important;
    }

    @media(min-width: @tablet-small)and (max-width: 1010px){
      right: 38px !important;
    }

    @media(min-width: @mobile-big) and (max-width: 767px){
      top: 327px !important;
      right: 23px !important;
      width: 125px !important;
    }

    @media(max-width: @mobile-small){
      top: 386px !important;
      right: -34px !important;
      input{
        width: 50px !important;
      }
    }
  }

  .form-control.cvv {
    position: absolute;
    right: 42px;
    top: 297px;
    width: 114px;
  }

  .form-control.expire {
    position: absolute;
    /* bottom: 85px; */
    top: 326px;
  }

  .form {
    margin: 0 auto;
    width: 980px;
    padding: 36px 0 72px 0;

    .row{
      position: absolute;
      bottom: 0;
    }
  }

  .text-input {
    border: 1px solid #414141;
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    color: #666666;
    padding: 11.5px 15px;
    text-align: center;
    @media(max-width: @mobile-small){
      padding: 8.5px 7px !important;
    }
  }

  .text-input:focus {
    color: #999999;
    border-color: #666666;
    background: rgba(0, 0, 0, 0.8);
  }

  .form-main {
    background: url("../img/new_deposit_two2.png") no-repeat;
    min-height: 600px;
    position: relative;
    float: left;

    @media(max-width:1200px){
      background: url("../img/new_deposit_tablet.png") no-repeat;
      min-width: 400px !important;
      //min-height: 800px;
    }

    @media(min-width: @tablet-small)and (max-width: 1010px){
      background: url("../img/new_deposit_two1.png") no-repeat;
      min-width: 685px !important;
      //min-height: 800px;
    }

    @media(min-width: @mobile-big) and (max-width: 767px){
      background: url("../img/new_deposit_mobile_big.png") no-repeat;
      min-width: 400px !important;
      min-height: 720px;
    }


    @media(max-width:@mobile-small){
      background: url("../img/new_deposit_mobile.png") no-repeat;
      min-width: 250px !important;
      max-width: 250px !important;
      min-height: 800px;
    }
  }

  .form-control.active {
    color: #FFF;
  }

  .form-control.error {
    color: #f33030;
  }

  .form-control.error input {
    border-color: #f33030;
  }

  .form-control.card {
    position: absolute;
    top: 240px;
    @media(max-width: @mobile-small){
      top: 310px!important;
      input{
        width: 50px !important;
        margin-right: 4px !important;
      }
    }
  }

  .form-control.country {
    position: absolute;
    top: 156px;
  }

  .form-control.amount {
    position: absolute;
    top: 90px;
    input{
      width: 345px;
    }

    @media(max-width: @tablet-big){
      input{
        width: 285px !important;
      }
    }
    @media(min-width: @tablet-small)and (max-width: 1010px){
      width: 428px !important;
    }

    @media(min-width: @mobile-big) and (max-width: 767px){
      input{
        width: 310px !important;
        padding: 11.5px 16px !important;
      }
    }

    @media(max-width:@mobile-small){
      input{
        width: 210px !important;
      }
    }
  }

  .form-control.card input {
    width: 80px;
    margin-right: 9px;
    @media(max-width:@tablet-big){
      width: 67px !important;
      margin-right: 2px !important;
    }

    @media(min-width: @tablet-small)and (max-width: 1010px){
      width: 80px !important;
      margin-right: 20px !important;
    }

    @media(min-width: @mobile-big) and (max-width: 767px){
      width: 74px !important;
    }

    @media(max-width:@mobile-small){
      width: 48px !important;
      margin-right: 0 !important;
    }
  }

  .form-control.expire{
    @media(max-width: @mobile-small){
      top: 386px !important;
    }
    input {
      width: 54px;
    }

  }

  .form-control.name {
    position: absolute;
    top: 158px;

    @media(min-width: @tablet-small)and (max-width: 1010px){
      .col-xs-4{
        width: 33% !important;
        input{
          width: 163px !important;
          margin-left: 0!important;
        }
      }
    }

    @media(min-width: @mobile-big) and (max-width: 767px){
      .col-xs-4{
        width: 41.6% !important;
        input{
          width: 143px !important;
          margin-left: 0!important;
        }
      }
    }
    @media(max-width:@mobile-small){
      width: 240px !important;
    }
  }

  .form-control.name input{
    width: 165px;
    text-align: left;
    @media(max-width:@tablet-big){
      width: 127px !important;
    }
    @media(max-width:@mobile-small){
      margin-top: 5px;
      width: 100% !important;
    }
  }

  .form-control.cvv input {
    width: 70px;
  }

  .form-side {
    position: relative;
    /*height: 272px;*/
    float: left;
    width: 352px;
  }

  .form-side h3 {
    margin-top: 0;
  }

  .form-side button {
    position: absolute;
    bottom: 0;
  }

  .form-side .error {
    color: #f33030;
    padding-left: 27px;
    margin: 0;
    white-space: nowrap;
  }

  .side-status {
    width: 18px;
    height: 16px;
    margin-right: 9px;
    display: inline-block;
    position: relative;
  }

  .step {
    margin: 10px 0;
  }

  .step.unfilled .side-status::after, .step.active .side-status::after {
    content: '-';
    position: absolute;
    display: block;
    width: 18px;
    height: 16px;
    text-align: center;
    top: -6px;
  }

  .step.filled .side-status {
    background: url("../img/done.png") no-repeat;
  }

  .payment-systems{
    margin-top: 0!important;
    width: 310px!important;
    position: absolute;
    top: 18px;
    left: 13px;
    @media(min-width: @tablet-small)and (max-width: 1010px){
      left: 30px !important;
    }
    @media(min-width: @mobile-big) and (max-width: 767px){
      left: 30px !important;
    }
  }

  .modal-dialog{
    margin-bottom: 0;
    margin-top: 2px;
    line-height: 16px;
    //overflow-x: auto;
    width: auto;
    @media(max-height: 600px) {
      margin-top: 5%;
    }
    @media(max-height: 550px) {
      margin-top: 1%;
    }

    .modal-content {
      background: #23292d;;
      padding: 30px;
      border-radius: 3px;
      font-weight: 500;
      min-width: 1170px;

      @media(max-width: @tablet-big) {
        min-width: 973px !important;
        padding: 18px !important;
      }

      @media(min-width: @tablet-small)and (max-width: 1010px){
        min-width: 700px !important;
        max-width: 720px !important;
      }

      @media(min-width: @mobile-big) and (max-width: 767px){
        min-width: 387px !important;
        max-width: 390px !important;
        padding: 25px 3px !important;
      }

      @media(max-width: @mobile-small) {
        min-width: 250px !important;
        max-width: 290px !important;
        padding: 20px !important;
        border-radius: 0 !important;
        box-shadow: none !important;
      }

      input, label{
        color: #fff !important;
      }
      & > * {
        padding: 0;
      }

      .modal-header {
        border-bottom: none;
        padding-bottom: 0;
        color: #e0e0e0;
        position: relative;
        min-height: 50px !important;
        @media(min-width: @tablet-small)and (max-width: 1010px){
          .close{
            display: none;
          }
        }
        @media(min-width: @mobile-big) and (max-width: 767px){
          .close{
            display: none;
          }
        }
        @media(max-width: @mobile-small){
          .close{
            display: none;
          }
        }
        .modal-title{
          line-height: 3;
        }

        .logo-broker{
          width: 98%;
          float: left;
          margin-bottom: 12px;
          .logo-deposit{
            width: 95px;
            height: 40px;
            float: right;
            position: absolute;
            right: 42px;
            top: -12px;
            @media(min-width: @tablet-small)and (max-width: 1010px){
              right: 2px !important;
            }
            @media(min-width: @mobile-big) and (max-width: 767px){
              right: 2px !important;
            }
            @media(max-width: @mobile-small){
              right: 2px !important;
            }

            .deposit-logo{
              width: 95px;
              height: 40px;
              display: inline-block;
            }
          }
        }
        img.lock-icon {
          height: 22px;
        }
      }

      .modal-body {
        color:#23292d !important;
        @media(max-width: @mobile-small){
          padding: 0;
          margin: 0;
        }

        .new-card,
        .exist-card{
          padding: 15px;
          margin: 20px auto;
        }
        #new-card{
          .form-main{
            .form-control{
              background: none;
              border: none;
              box-shadow: none;
            }
            .row{
              position: absolute;
              width: 100%;

              .form-control{
                background-color: #fff;
                background-image: none;
                border: 1px solid #ccc;
                border-radius: 4px;
              }
            }
          }
        }

        div .col-md-6 {
          padding-left: 0;
          padding-right: 0;
        }

        .error-message{
          color:#fc1d1d;
          font-size: 12px;
          margin: 0;
        }
        .error-message:first-letter {
          text-transform: uppercase;
        }
        input.amount-input {
          margin-top: 15px;
          border: none;
          font: 400 18px @lato;
          background: #23292d;
          color: #fff !important;
          border-bottom: 2px solid #909191;
          width: 210px;
          padding-bottom: 8px;

          &:focus {
            outline: none;
          }
        }

        .payment-systems {
          button {
            height: 51px;
            margin-right: 15px;
            border: 2px solid #515456;
            background-color: #f5f5f5;
            border-radius: 2px;
            position: relative;
            padding: 5px;
            @media(min-width:@mobile-small){
              margin-right: 10px;

            }
            @media(max-width:@mobile-small){
              margin-right: 5px !important;

            }
            .check {
              display: none;
              width: 22px;
              height: 22px;
              background-color: #61ff30;
              border-radius: 50%;
              position: absolute;
              right: -10px;
              top: -8px;

              i {
                margin-top: 4px;
              }
            }
            &.visa-mastercard {
              background-color: transparent !important;
            }

            &.active{
              border: 2px solid #61ff30 !important;
              background-color: transparent !important;
              .check {
                display: inline-block;
              }
            }
            &.paypal {
              width: 98px;
              img {
                height: 132%;
                margin-top: -2px;
              }
            }

            &.skrill {
              width: 76px;

              img {
                height: 100%;
                width: 100%;
                margin-top: -2px;
              }
            }
          }
        }

        select.form-control{
          width: 96%;
        }

        input.card-number-input,
        input.city-input,
        input.address-input,
        input.phone-input {
          //margin-top: 10px;
          border: none;
          color:#fff;
          font: 400 18px 'Lato', sans-serif;
          border-bottom: 2px solid #909191;
          width: 94%;
          padding-bottom: 6px;
          background: #23292d;
          padding-top: 10px;

          &:focus {
            outline: none;
          }
        }

        input.name-on-card-input {
          margin-top: 0;
          border: none;
          color:#fff;
          font: 400 18px 'Lato', sans-serif;
          background: #23292d;
          border-bottom: 2px solid #909191;
          width: 86%;
          padding-bottom: 6px;
          @media(max-width:@mobile-small){
            width: 220px;
          }
          &:focus {
            outline: none;
          }
        }

        input.validation-date-input, input.cvv-input {
          margin-top: 0;
          margin-right: 10px;
          border: none;
          background: #23292d;
          border-bottom: 2px solid #909191;
          padding-bottom: 6px;
          color:#fff;
          font: 400 18px 'Lato', sans-serif;
          width: 86%;

          &:focus {
            outline: none;
          }
        }

        label {
          margin-top: 13px;
          margin-bottom: 0;
          font: 400 14px 'Lato', sans-serif;
          color:#858687;
        }
      }



      .modal-footer {
        border-top: none;
        @media(max-width: @mobile-small){
          padding: 0 !important;
        }

        .footer{
          @media(max-width: @mobile-small) {
            width: 229px;
            height: 50px;
            padding: 0;
            margin: 0;
          }

          .info{

            font: 400 12px 'Lato', sans-serif;
            display: inline-block;
            float: left;
            color:#fff;
            width: 123px;
            text-align: left;
            font-weight: 300;

            @media(max-width: @mobile-small) {
              display: none !important;
            }
          }
          button {
            border: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            text-shadow: none;
            border-radius: 3px;
            font: 600 14px 'Lato', sans-serif !important;
            padding: 6px 19px !important;

            &.btn-default {
              color: #ffffff;
              background: transparent;
              @media(max-width: @mobile-small) {
                float: left !important;
              }
            }
            &.btn-primary {
              color: #000000;
              border-radius: 5px;
              background: rgb(97,255,48); /* Old browsers */
              background: -moz-linear-gradient(top,  rgba(97,255,48,1) 0%, rgba(97,255,48,1) 21%, rgba(90,255,45,1) 49%, rgba(56,255,28,1) 73%, rgba(46,255,23,1) 100%); /* FF3.6-15 */
              background: -webkit-linear-gradient(top,  rgba(97,255,48,1) 0%,rgba(97,255,48,1) 21%,rgba(90,255,45,1) 49%,rgba(56,255,28,1) 73%,rgba(46,255,23,1) 100%); /* Chrome10-25,Safari5.1-6 */
              background: linear-gradient(to bottom,  rgba(97,255,48,1) 0%,rgba(97,255,48,1) 21%,rgba(90,255,45,1) 49%,rgba(56,255,28,1) 73%,rgba(46,255,23,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61ff30', endColorstr='#2eff17',GradientType=0 ); /* IE6-9 */
              box-shadow: 0px 2px 2.61px 0.39px rgba(0, 0, 0, 0.059) !important;
            }

            &:focus {
              outline: none;
            }

          }
        }
      }
    }
    .text-footer{
      display: none;
      @media(max-width: @mobile-small){
        display: block;
        color: #fff !important;
        background-color: #1b1f22 !important;
        border-top: none !important;
        .info{
          font-size: 11px;
        }
      }
    }
  }
}