/*
 *
 * Copyright (c) 2015  - All rights reserved
 *
 * Filename: game.less
 */

/* Base styles for game components */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic-ext);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,900italic,400italic);

@base-background-game-header-section: #121212;
@base-background-game-section: #2e2e2e;
@Lato: 'Roboto', sans-serif;
@lato: 'Lato', sans-serif;
@noto: 'Noto Sans', sans-serif;
@red: #fc1d1d;

.font-size-09 {
  font-size: 0.9em;
}

.font-size-08 {
  font-size: 0.8em;
}

.pepper-09  {
  background-size: contain;
  width: 18px;
  height: 17px;
  right: 10px;
  top: 13px;
}

.pepper-08  {
  background-size: contain;
  width: 16px;
  height: 15px;
  right: 7px;
  top: 13px;
}

#regulationModal {

  .modal-dialog {
    margin-top: 0;
    width: 315px;
    line-height: 16px;

    .modal-header {
      color: #a0a0a0;
      border-bottom: none;
      padding-bottom: 0;
      h6 {
        font: 9px @noto;
      }
    }
    .modal-content {
      padding: 10px;
      border-radius: 3px;
      font-weight: 500;
      background-color: #3c3e3f;
      color: #fff;
    }
    .modal-footer {
      border-top: none;
      padding: 10px 15px 15px;
    }
  }

  .up {
    color: #61ff30;
  }
  .down {
    color: @red;
  }

  label {
    font-weight: 300;
  }
  .error-message{
    color:#fc1d1d;
    font-size: 12px;
    margin: 0;
  }
  .error-message:first-letter {
    text-transform: uppercase;
  }

  button {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    font: 500 14px @lato;
    &.btn-default {
      color: #BBBBBB;

      background-color: inherit;
      &:hover {
        background: transparent;
      }
    }
    &.btn-primary {
      background-color: #61ff30;
      color: #23282a;
      text-transform: uppercase;
      &:hover{
        opacity: 0.3;
        -moz-opacity: 0.3;
      }
    }
  }

  .current-instrument-regulation {
    color: #61ff30;
    &.up {
      color: #61ff30;
    }
    &.down {
      color: @red;
    }
  }
}

#errorModal {


  .modal-dialog {
    margin-top: 0;
    width: 650px;
    line-height: 16px;
    background-color: #3c3e3f;

    .modal-header {
      color: @red;
      border-bottom: none;
      padding-bottom: 0;
      h6 {
        font: 9px @noto;
      }
    }
    .modal-content {
      padding: 10px;
      border-radius: 3px;
      font-weight: 500;
      background-color: #3c3e3f;
      color: #fff;
      p {
        background: none;
        border: none;
        //border-bottom: 2px solid @orange;
        border-radius: 0;
        box-shadow: none;
        padding: 0 0 5px;
        color: #fff;
      }
      &:focus {
        outline: none;
      }

    }
    .modal-footer {
      border-top: none;
      padding: 10px 15px 15px;
    }
  }


  label {
    font-weight: 300;
  }

  button {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    font: 500 14px @lato;

    &.btn-primary {
      background-color: @red;
      color: #23282a;
      text-transform: none;
    }
  }
}



#informationModal {


  .modal-dialog {
    margin-top: 0;
    width: 650px;
    line-height: 16px;
    background-color: #3c3e3f;

    .modal-header {
      color: #ecbb38;
      border-bottom: none;
      padding-bottom: 0;
      h6 {
        font: 9px @noto;
      }
    }
    .modal-content {
      padding: 10px;
      border-radius: 3px;
      font-weight: 500;
      background-color: #3c3e3f;
      color: #fff;
      p {
        background: none;
        border: none;
        //border-bottom: 2px solid @orange;
        border-radius: 0;
        box-shadow: none;
        padding: 0 0 5px;
        color: #fff;
      }
      &:focus {
        outline: none;
      }

    }
    .modal-footer {
      border-top: none;
      padding: 10px 15px 15px;
    }
  }


  label {
    font-weight: 300;
  }

  button {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    font: 500 14px @lato;

    &.btn-primary {
      background-color: #ecbb38;
      color: #23282a;
      text-transform: none;
    }
  }
}


#successModal {


  .modal-dialog {
    margin-top: 0;
    width: 650px;
    line-height: 16px;
    background-color: #3c3e3f;

    .modal-header {
      color: #61ff30;
      border-bottom: none;
      padding-bottom: 0;
      h6 {
        font: 9px @noto;
      }
    }
    .modal-content {
      padding: 10px;
      border-radius: 3px;
      font-weight: 500;
      background-color: #3c3e3f;
      color: #fff;
      p {
        background: none;
        border: none;
        //border-bottom: 2px solid @orange;
        border-radius: 0;
        box-shadow: none;
        padding: 0 0 5px;
        color: #fff;
      }
      &:focus {
        outline: none;
      }

    }
    .modal-footer {
      border-top: none;
      padding: 10px 15px 15px;
    }
  }


  label {
    font-weight: 300;
  }

  button {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
    font: 500 14px @lato;

    &.btn-primary {
      background-color: #61ff30;
      color: #23282a;
      text-transform: none;
    }
  }
}




.hidden-elem {
  visibility: hidden;
}

.display-elem {
  visibility: visible;
}

#tutorialModal {
  .modal-body {
    padding: 3px !important;
  }
  .modal-dialog {
    width: 800px !important;
  }
  .modal-content {
    border-radius: 3px !important;
  }
  .close {
    position: absolute;
    right: 5px;
    z-index: 1000;
    opacity: 1;
    color: #D8D8D8
  }
  .modal-backdrop {
    opacity: 0.9;
  }
  .carousel-control span:before {
    content: none !important;
  }
}

.game-section.anonymous-user-login {
  left: 68px;
}
.game-section {
  left: 15%;
  height: 100%;
  right: 0;
  background-color: @base-background-game-section;

  @media (max-width: 1280px) {
    right: 0; /* Don't create on html */
  }

  @media (max-width: 835px) {
    left: 130px;
  }

  .column-header {
    &:extend(.inner-column);
    padding: 14px 24px 11px !important;
    background-color: @base-background-game-header-section;
    min-height: 64px;
    .clock-wrapper {
      color: #868a8e;
      display: inline-block;
      font: 14px @noto;
      line-height: 30px;
    }
    .menu-right-block {
      text-align: right;
      display: block;
      margin-top: -32px;

      .balance-wrapper {
        font-weight: bold;
        display: inline-block;
        margin-right: 10px;
        font: 14px @lato;
        line-height: 35px;
        color: #868a8e;
        .currency, #balance {
          color: #fff;
        }
      }

      .wins {
        color: #000000;
        position: relative;
        display: none;

        .cross-icon, .trophy-icon {
          background: #bbbbbb;
          display: inline-block;
          position: absolute;
          width: 30px;
          height: 30px;
          text-align: center;
          border-radius: 50%;
          color: white;
          right: 10px;
        }

        .trophy-icon > i {
          position: absolute;
          right: 8px;
          top: 8px;
        }
        .cross-icon > i {
          position: absolute;
          right: 9px;
          top: 8px;
        }

        @media (max-width: 1280px) {
          display: inline;
        }
      }
    }

    #depositButton, button {
      color: #23292d;
      font: 600 16px @lato;
      @media (max-width: 1279px) {
        width: auto;
        margin-right: 0 !important;
        margin-top: 3px;
      }

      @media (max-height: 767px) {
        height: auto;
        vertical-align: top;
        margin-right: 0 !important;
        margin-top: 5px;
      }

      min-height: 15px;
      min-width: 67px;

      width: 110px;
      height: 41px;
      border: none;
      padding: 0;
      background:  url(../img/new/background-deposit.png) repeat-x;
      //background-color: #61ff30;

      @media (max-width: 1280px) {
        margin-right: 50px;
      }
    }
  }

  .tooltip-text-container {
    fill-opacity: 1 !important;
    &.winner {
      .tooltip-text {
        tspan:first-child {
          fill: #3c3e3f;
        }
        tspan {
          fill: #000;
        }
      }
      .tooltip-text-rect {
        fill: #61ff30;
      }

    }
    .tooltip-text {
      stroke: none;
      visibility: hidden;
      tspan:first-child {
        fill: #949a9d;
      }
      tspan {
        fill: #fff;
        font: 400 11px @noto;
        text-anchor: middle;
      }
    }
    .tooltip-text-rect {
      stroke-width: 0;
      fill: #191d1f;
      visibility: hidden;
    }
  }

  .winner-circle-container {
    fill: #191d1f;
    opacity: 0;
    .win-circle {
      stroke: #61ff30;
      stroke-opacity: 1;
      fill: #23292d;
    }
    .win-text {
      font-size: 25px;
      text-anchor: middle;
      visibility: hidden;
    }
  }

  .winner-circle-container {
    fill: #191d1f;
    opacity: 0;
    .win-circle {
      stroke: none;
      fill: #23292d;
    }
    .win-text {
      fill: #61ff30 !important;
      font-size: 45px !important;
      font-weight: 400 !important;
      text-anchor: middle;
      visibility: hidden;
    }
  }

  .rate {
    text-anchor: middle;
    fill: black;
    fill-opacity: 1;
    stroke: none;
    font-size: 12px !important;
    font-family: @lato;
  }


  .circle-rate {
    fill: #191d1f;
    stroke-width: 3px;
    stroke-opacity: 0.8;
    fill-opacity: 1;
    &.history-point-lose {
      //display: none !important;
      //visibility: hidden !important;
      //fill: #BBBBBB !important;
      stroke-opacity: 1 !important;
      fill: #3c3e3f !important;
      visibility: visible !important;
      stroke-width: 3px !important;
      stroke: #191d1f !important;
      stroke-opacity: 1 !important;


    }
    &.history-point-won {
      //fill: #3c3e3f !important;
      visibility: visible !important;
      stroke-width: 3px !important;
      stroke: #39df26 !important;
      stroke-opacity: 1 !important;
    }
  }

  .circle-rate-loading {
    &.history-point-lose {
      //display: none !important;
      //stroke-dasharray: none !important;
      //stroke: #BBBBBB !important;
      //visibility: visible !important;
      //fill: #191d1f !important;
      //stroke-width: 2 !important;

      //fill: #3c3e3f !important;
      visibility: visible !important;
      //stroke-width: 6 !important;
      //stroke: #191d1f !important;
      //stroke-opacity: 1 !important;

    }
    fill: #191d1f !important;
  }
  .profit {
    stroke-opacity: 0;
    fill-opacity: 1;
    &.won {
      fill: #61ff30;
    }
    &.lose {
      fill: @red;
    }

  }
  .column-game {
    &:extend(.inner-column);
    height: 100%;
    overflow: hidden;
    margin-top: -130px;
    padding: 105px 24px 112px !important;
    #chart {
      padding: 40px 0 0;
      height: 100%;
      svg {
        height: 100%;

        text {
          fill: #818a91;
          font: 300 12px @lato;
        }

        text.rate{
          fill: #fff;
          font-size: 9px !important;
          font-family: @lato;
        }

        .current-line-dashed {
          stroke:  #4d5255;
          stroke-dasharray: 8px 4px;
        }
        .nvd3 {
          .nv-axis {
            line {
              stroke: #414345;
            }
          }
        }
      }

      .bet {
        cursor: pointer;
        text.random-percent {
          display: none;
          text-anchor: middle;
          font: 14px @noto;
        }
        text.bet-text-title {
          fill: #191d1f;
          font: 500 12px @lato;
          text-anchor: middle;
        }
        text.bet-txt {
          text-anchor: middle;
          fill: #191d1f;
          font: 700 17px @lato;
        }
        text.random-percent {
          font: 700 14px @lato;
        }
        line {
          stroke-width: 2px;
          visibility: hidden;
        }
        rect {
          stroke-dasharray: 0 98px 80px 15px;
        }
        &.put {

          fill: #fff;
          font-family: @lato;
          line {
            stroke: @red;
          }
          rect {
            stroke: @red;
          }
          text.bet-text-title{
            fill: #fff;
          }
          text.bet-txt{
            fill: #fff;
          }
          text.random-percent {
            fill: #fff;
          }
        }
        &.call {
          fill: #191d1f;
          font-family: @lato;
          line {
            stroke: #61ff30;
          }
          rect {
            stroke: #61ff30;
          }
          text.bet-text-title{
            fill: #191d1f;
          }
          text.bet-txt{
            fill: #191d1f;
          }
          text.random-percent {
            fill: #191d1f;
          }
        }
      }
      .nv-axisMaxMin {
        display: none;
      }
      .current-currency-box {
        & div {
          float: left;
        }
        .currency-up {
          color: #61ff30;
        }
        .currency-down {
          color: @red;
        }
        .currency-same {
          color: #fff;
        }
        float: left;
        width: 300px;
        margin: 0 0 32px;
        div {
          display: inline-block;
          margin: 0 10px;
          font: 24px @noto;
          color: #fff;
        }
        .current-currency-name {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          width: 129px;
        }
      }
      .block_invest  .active{
        border-radius: 3px;
        color: #000000;
        background: url(../img/new/inset.png) repeat-x;
      }
      .cub:hover{
        border-radius: 3px;
        color: #000000;
        background: url(../img/new/inset.png) repeat-x;
        cursor: pointer;
      }

      .cub{
        height: 50px;
        padding: 16px;
        position: relative;
        display: inline-block;
        margin: 2px 3px 3px 0px;
        color: #fff;
        font-weight: bold;
        font-family: @lato;
        float: left;
      }
      .cub:last-child{
        margin-right: 3px;
      }

      .cub:first-child{
        margin-left:  3px;
      }
      .block_invest{
        display: inline-block;
        border: 1px solid #ecbb38;
        background: #000;
        float: right;
      }
      .invest-text{
        text-transform: uppercase;
        color: #ecbb38;
        float: left;
        padding: 17px 15px 20px 2px;
      }

      .new-box{
        float: left;
        margin: 0 0 32px;
        border: 3px solid #000;
        border-radius: 5px;
        padding: 7px;
        background: #000;
      }


      .investment{
        //width: 865px;
        height: 50px;
        float: right;
        display: none;
      }
      @media (min-width: 1440px) {
        .investment{
          display: block !important;
        }
      }
      @media (max-width: 1439px) {
        .current-currency-investment{
          display: block !important;
        }
      }

      .current-currency-investment {
        display: none;
        font: 14px @lato;
        float: right;
        min-width: 249px;
        margin-bottom: 10px;
        background-color: #fafafa;
        padding: 2px 0 2px 10px;
        & * {
          display: inline-block;
          line-height: 30px;
        }
        input {
          font-weight: bold;
          border: none;
          background-color: transparent;
          margin: 0;
          padding: 0;
          width: 90px;
          font-size: 23px;
        }
        span {
          margin-right: 8px;
          color: #d6d6d6;
          font-weight: 300;
        }
        strong {
          font: 400 24px @lato;
          position: relative;
          left: 6px;
        }
        .input-investment {
          font: 400 24px @lato;
          color: #000;
          width: 146px;
          border: none;
          outline: none !important;
          background-color: #fafafa;
          text-indent: 2px;
          margin-left: 10px;
        }

        .combobox {
          margin: 0 !important;
          input {
            font-weight: bold;
            border: none;
            background-color: transparent;
            margin: 0;
            padding: 0;
            width: 90px;
            font-size: 23px;
            color: #000;
          }
          .combobox_button {
            width: 50px !important;
            background: none !important;
          }
          .combobox_selector {
            left: -102px !important;
            top: 36px !important;
            width: 245px !important;
            ul {
              width: 245px !important;
            }
            li {
              cursor: pointer;
              float: none;
              display: block;
              font-size: 16px;
              font-weight: bold;
              text-align: center;
              width: 244px !important;
            }
          }
        }
      }
      .current-pointer-item {
        fill: #50575c;
        stroke: #fff;
        stroke-width: 2;
      }
      .nv-x .tick {
        line {
          opacity: 0;
        }
      }
      .current-tooltip-rect {
        stroke: #000000;
        stroke-width: 1;
      }
      .current-tooltip-text {
        fill: #000000;
      }
      .domain {
        stroke-opacity: 0;
      }
      .nv-line {
        stroke-width: 3px;
      }
      .nv-series-0 .nv-line {
        stroke-width: 3px;
        stroke: #fff;
      }

      .nv-group:last-child:not(.nv-series-0) .nv-line {
        display: none;
        stroke-width: 3px;
      }
      .nv-group {
        fill-opacity: 1 !important;
      }
    }
    .trades-list {
      font-family: @lato;
      position: absolute;
      height: 112px;
      width: 100%;
      background-color: #000000;
      left: 0;
      bottom: 0;
      padding: 25px 21px;
      text-align: center;
      overflow: hidden;


      .trade {
        position:relative;
        display: inline-block;
        width: 107px;
        margin: 0 0 100px;


        @media (max-width: 1279px) {
          * {
            font-size: inherit !important;
          }
        }

        @media (max-width: 1109px) {
          width: 96px;
          .font-size-09;
          text-align: initial;
        }

        @media (max-width: 939px) {
          width: 85px;
          .font-size-08;
        }

        @media (max-height: 767px) {
          * {
            font-size: inherit !important;
          }
        }

        @media (max-height: 662px) {
          width: 96px;
          .font-size-09;
          text-align: initial;
        }

        @media (max-height: 557px) {
          width: 85px;
          .font-size-08;
        }

        @media (min-width: 1390px) {
          margin: 0 5px 100px;
        }
        @media (min-width: 1480px) {
          margin: 0 10px 100px;
        }
        @media (min-width: 1580px) {
          margin: 0 25px 100px;
        }
        @media (min-width: 1680px) {
          margin: 0 30px 100px;
        }

        .pepper {
          position: absolute;
          background: url(../img/pepper.png) no-repeat;
          width: 20px;
          height: 17px;
          right: 14px;
          top: 17px;

          @media (max-width: 1109px) {
            .pepper-09;
          }

          @media (max-width: 939px) {
            .pepper-08;
          }

          @media (max-height: 662px) {
            .pepper-09;
          }

          @media (max-height: 557px) {
            .pepper-08;
          }

        }
        .trade-name {
          color: #fff;
          display: inline-block;
          font-weight: 500;
          font-size: 14px;
          //width: 81px;
          text-align: left;
          float: left;
          margin-left: 13px;text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          width: 75px;


        }
        .time {
          color: #a1a1a1;
          display: inline-block;
          background: url("../img/clock.png") no-repeat  0 2px;
          font: 500 14px Lato,sans-serif;
          padding: 0 0 0 17px;
          position: relative;
          top: -3px;
          width: 79px;
          text-align: left;
          @media(max-width: 1279px) {
            margin-left: 13px;
          }
          @media(max-height: 662px) {
            margin-left: 13px;
          }
        }
        a {
          color: #191d1f;
          display: inline-block;
          height: 26px;
          line-height: 26px;
          text-align: center;
          width: 78px;
          box-sizing: border-box;
          font-size: 14px;
          background: url(../img/new/trade-me-green.png) repeat-x; /* Old browsers */
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
          border-radius: 4px;
        }
        div.trade-data{
          color: #191d1f;
          display: inline-block;
          font: 500 14px Lato, sans-serif;
          height: 26px;
          line-height: 26px;
          text-align: center;
          width: 82px;
          box-sizing: border-box;
          font-size: 14px;
          background: url(../img/new/trade-me-green.png) repeat-x; /* Old browsers */
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
          border-radius: 4px;
          cursor: pointer;
          //text-decoration:underline;

          @media (max-width: 1109px) {
            width: 73px;
            margin-left: 13px;
          }

          @media (max-width: 939px) {
            width: 65px;
          }

          @media (max-height: 662px) {
            width: 73px;
            margin-left: 13px;
          }

          @media (max-height: 557px) {
            width: 65px;
          }
        }
        .trade-currency-data:hover{
          text-decoration: none;

        }

      }
    }
    .spinner-container {
      display: none;
      position: absolute;
      top: 42%;
      right: 42%;
      color: #fff;
      p {
        text-align: center;
      }
    }
    .error-message {
      display: none;
      text-align: center;
      margin-top: 200px;
    }
  }
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/*****************/
input[type="checkbox"] {
  display:none;
}
input[type="checkbox"] + label {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
input[type="checkbox"] + label::before {
  background-color: #61ff30;
  border-radius: 3px;
  content: "";
  display: inline-block;
  height: 16px;
  line-height: 16px;
  width: 16px;
  margin: 0 10px 0 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  float: left;
}

input[type="checkbox"]:checked + label::before {
  background-image: url("../img/checked.png");
}

#positionsModal  {
  .modal-dialog {
    width: 100%;
    max-width: 695px;
    box-sizing: border-box;
    .modal-body {
      background-color: #23292d;
      border-radius: 3px;
      color: #fff;
      padding: 23px 29px;
      @media (max-height: 662px) {
        padding: 15px !important;
      }
      h3 {
        font: 400 18px @lato;

        margin: 0 0 47px;
        @media (max-height: 662px) {
          margin: 0 0 1px !important;
        }
      }
      .nav-tabs {
        border: none;
        margin: 0 0 34px;
        @media (max-height: 662px) {
          margin: 0 0 8px !important;
        }
        li {
          a, a:hover, a:focus {
            background: none !important;
            padding: 0 30px 8px;
            color: #fff;
            font: 500 14px @lato;
            @media (max-height: 662px) {
              font-size: 11px !important;
              padding: 0 19px 4px !important;
            }
            text-transform: uppercase;
            display: inline-block;

            border: none;
          }
          &.active {
            a {
              border-bottom: 3px solid #61ff30;
            }
          }
        }
      }

      table {
        width: 100%;
        @media (max-height: 662px) {
          margin-bottom: 16px !important;
        }
        thead {
          th {
            font: 400 9px @lato;
            border-bottom: 1px solid #d9d9d9;
            padding: 0 0 6px;
          }
        }
        tbody {

          td {
            border: none;
            padding-top: 11px;
            vertical-align: bottom;
            @media (max-height: 662px) {
              padding: 0 !important;
            }

            .direction {
              display: inline-block;
              background: url("../img/new/direction-arrows.png") no-repeat;
              color: #23282a;
              font: 500 12.5px @lato;
              text-align: center;
              text-transform: uppercase;
              width: 54px;
              height: 30px;
              position: relative;
              @media (max-height: 662px) {
                transform: scale(0.7);
                height: 27px!important;
              }
              &.put {
                background-position: 0 100%;
                padding-top: 4px;

                top: 8px;
              }
              &.call {
                padding-top: 9px;
                background-position: 0 0;
                top: 4px;
              }
            }
          }
          .start-date,
          .end-date {
            font: 300 10px @lato;
          }
        }
      }

      div.pagination{
        position: relative;
        overflow: hidden;
        white-space:nowrap;
        width: 100%;
        @media (max-height: 662px) {
          margin: -17px -4px !important;
        }
        span.pagination-button:first-child,
        span.pagination-button:last-child{
          padding: 5px 12px 0 13px;
        }
        span.pagination-button{
          float: left;
          cursor: pointer;
          font-family: @noto;
          margin: 5px;
          padding: 5px;
          background: url(../img/new/pagination.png) repeat-x;
          min-width: 30px;
          max-width: 60px;
          height: 29px;
          display: inline-block;
          text-align: center;
          border-radius: 4px;
          border-bottom: 1px solid #000000;
        }
        span.pagination-button.number{
          display: none;

        }
        span.pagination-button:hover,
        span.pagination-button.active{
          background: #ecbb38;
          border-bottom:none;
        }
      }
    }
  }
}


#withdrawModal  {
  .modal-dialog {
    width: 100%;
    max-width: 460px;
    box-sizing: border-box;

    .modal-head {
      background-color: #3c3e3f;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      color: #fff;
      padding: 40px 29px;
      height: 320px;

      h3 {
        font: 400 18px @lato;
        margin: 0 0 47px;
      }

      .error-message:first-letter {
        text-transform: uppercase;
      }
      .error-message{
        color:#fc1d1d;
        font-size: 12px;
      }
      .block{
        height: 170px;
        position: relative;
      }
      .withdraw{
        background: #61ff30;
        color: #000;
        height: 38px;
        width: 99px;
        font: 500 14px @lato;
        text-transform: uppercase;
        border: 0;
        border-radius: 4px;
        float: right;

      }

      div.row-fluid {
        padding: 10px 0;
        position: relative;
        color: #9d9e9f;

        input {
          color: #d7d7d7;
          background: none;
          border: none;
          border-bottom: 2px solid #858687;
          width: 100%;
          font: 400 18px @lato;
          border-radius: 0;
          box-shadow: none;
          padding: 0 0 5px;

          &:focus {
            outline: none;
          }
        }
      }

    }

    .modal-body {
      color: #fff;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      padding: 23px 29px;
      background: #23292d;

      .error-message{
        color:#fc1d1d;
        font-size: 12px;
      }

      .nav-tabs {
        border: none;
        margin: 0 0 34px;
        li {
          a, a:hover, a:focus {
            background: none !important;
            padding: 0 30px 8px;
            color: #fff;
            font: 500 14px @lato;
            text-transform: uppercase;
            display: inline-block;

            border: none;
          }
          &.active {
            a {
              border-bottom: 3px solid #61ff30;
            }
          }
        }
      }

      table {
        width: 100%;

        thead {
          th {
            font: 400 9px @lato;
            border-bottom: 1px solid #d9d9d9;
            padding: 0 0 6px;
          }
        }
        tbody {

          td {
            border: none;
            padding-top: 11px;
            vertical-align: bottom;

            .direction {
              display: inline-block;
              background: url("../img/new/direction-arrows.png") no-repeat;
              color: #23282a;
              font: 500 12.5px @lato;
              text-align: center;
              text-transform: uppercase;
              width: 54px;
              height: 30px;
              position: relative;
              &.put {
                background-position: 0 100%;
                padding-top: 4px;

                top: 8px;
              }
              &.call {
                padding-top: 9px;
                background-position: 0 0;
                top: 4px;
              }
            }
          }
          .start-date,
          .end-date {
            font: 300 10px @lato;
          }
        }
      }
    }
  }
}


.modal-backdrop {
  position: fixed;
  opacity: 0.9 !important;
  width: 100%;
}




#profileModal {
  .modal-dialog {
    width: 100%;
    //height: 100%;
    max-width: 405px;
    //max-height: 901px;
    box-sizing: border-box;

    .modal-body {
      background-color: #23292d;
      border-radius: 3px;
      color: #fff;
      padding: 23px 29px;

      .error-message:first-letter {
        text-transform: uppercase;
      }
      .error-message{
        color:#fc1d1d;
        font-size: 12px;
      }
      h2 {
        font: 400 18px @lato;
        color: #fff;
        width: 30%;
        float: left;
        margin-top: 0;
      }

      .number {
        float: right;
        width: 50%;
        color: #9d9e9f;
        font: 400 18px @lato;
        text-align: right;

      }

      .price {
        display: block;
        font: 400 35px 'Lato', sans-serif;
        padding-top: 37px;
        padding-bottom: 15px;
        text-align: left;
      }


      .info{
        //margin-top: 63px;
      }

      .info>label{
        //text-transform: uppercase;
        color: #9d9e9f;
      }

      .info label{
        //color: #9d9e9f;
        font: 400 10px @lato;
      }

      .info input{
        //text-transform: uppercase;
        font: 400 14px @lato;
      }


      div.row-fluid {
        padding: 3px 0;
        position: relative;
        color: #9d9e9f;

        input, select {
          color: #d7d7d7;
          background: none;
          border: none;
          border-bottom: 2px solid #858687;
          width: 100%;
          font: 400 14px @lato;
          border-radius: 0;
          box-shadow: none;
          padding: 0 0 5px;

          &:focus {
            outline: none;
          }
        }
      }

      .deposit{
        background: #61ff30;
        color: #000;
        height: 38px;
        width: 99px;
        font: 400 14px @lato;
        text-transform: uppercase;
        border: 0;
        border-radius: 4px;
        float: right;

      }

      form.internal-profile-form{
        height: 100%;
      }

      form.internal-profile-form >
      div.row-fluid > div {
        //float: left;
        width: 45%;
      }

      form.internal-profile-form >
      div.row-fluid > div > label {
        color: #9d9e9f;
        font: 400 9px @lato;
      }

      form.internal-profile-form
      .save-changes {

        background: none;
        border: none;
        color: #61ff30;
        font: 400 14px @lato;
        text-transform: uppercase;
        float: right;
        padding: 25px 2px 3px 1px;
      }

      form.internal-profile-form{
        & > div.row-fluid {
         // padding: 10px 0;
          position: relative;
          color: #9d9e9f;
          overflow: hidden;


          input, select {
            background: none;
            border: none;
            border-bottom: 2px solid #858687;
            border-radius: 0;
            box-shadow: none;
            padding: 0 0 5px;
            color: #9d9e9f;


            &:focus {
              outline: none;
            }
          }
          select {
            background-color: #fff;
            color: #000;
            border: none;
            margin: 12px 0 0;
          }

          .error-icon {
            display: none;
            position: absolute;
            right: 0;
            top: 8px;
          }
        }

      }
    }
  }
}