/*
 *
 * Copyright (c) 2015  - All rights reserved
 *
 * Filename: info.less
 */

/* Base styles for tutorial and invitation components */

@base-background-light-info-section: #D9D9D9;
@base-background-info-header-section: #DFDFDF;
@base-background-dark-info-section: #1D2225;

.info-section.viewBox {
  width: 187px;
}
.info-section {
  width: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
  background-color: @base-background-light-info-section;
  -webkit-transition-property: width;
  -webkit-transition-duration: 0.5s;
  -moz-transition-property: width;
  -moz-transition-duration: 0.5s;
  -o-transition-property: width;
  -o-transition-duration: 0.5s;
  transition-property: width;
  transition-duration: 0.5s;

  font-size: 12px;
  line-height: 13px;
  font-weight: 200;
  color: #c6c8c8;

  @media (max-width: 1280px) {
    display: none; /* Don't create on html */
  }
  .column-header {
    &:extend(.inner-column);
    height: 240px;
    width: 187px;
    display: table;
    background-color: @base-background-info-header-section;
    text-align: center;
    .tutorial-link {
      vertical-align: middle;
      display: table-cell;
    }
  }

  .column-invitation, .column-latest-winners {
    height: 50%;
    background-color: @base-background-dark-info-section;
    overflow-y: hidden;
    position: relative;

    .border-div {
      position: absolute;
      left: 20px;
      right: 20px;
      bottom: 0;
      border-top: 1px solid #434749;
    }

    @media (max-width: 1280px) {
      & > * {
        display: none;
      }
    }

    & > p {
      margin: 0 0 20px;

      &.show-all {
        text-align: center;
        color: #fc1d1d;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }

    a {
      color: #fc1d1d;
    }

    .person {
      position: relative;
      margin-bottom: 10px;

      .person-photo {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: inline-block;
        float: left;
      }

      .person-name {
        display: inline-block;
        width: 100px;
        margin-left: 10px;
        margin-top: 5px;

        b {
          font-weight: 500;
          color: white;
        }

        em {
          color: #fc1d1d;
          font-style: normal;
        }
      }
    }

    .show-all {
      font-size: 13px;
      font-weight: 500;
    }
  }

  .shadow {
    content: "";
    box-shadow: 0px -82px 114px -39px #000000 inset;;
    position:fixed;
    width:187px;
    height:150px;
    margin-top: -150px;
    overflow: hidden;
  }
}