/*
 *
 * Copyright (c) 2015  - All rights reserved
 *
 * Filename: login-popup.less
 */

@modal-register-width: 576px;

#connectModal.modal{

  @linkColor: #61ff30;
  @modal-width: 300px;
  @modal-height: 360px;
  @left-panel-width: 235px;
  @footer-height: 60px;
  @left-panel-background: #171b1e;
  @right-panel-background: #3c3e3f;
  @left-panel-font-color: #5e6163;
  @right-panel-font-color: #a0a0a0;
  .modal-dialog {
    //margin-top: 0;
    border-radius: 0;
    //width: auto;
    margin: 0 auto;
    width: 300px;

    .modal-content {
      background-color: transparent;
      // width: @modal-width;
      min-height: @modal-height;
      box-shadow: none;
      border: none;
    }
  }


}
#connectModal.modal, #registrationModal.modal {

  @linkColor: #61ff30;
  @modal-width: 300px;
  @modal-height: 360px;
  @left-panel-width: 235px;
  @footer-height: 60px;
  @left-panel-background: #171b1e;
  @right-panel-background: #3c3e3f;
  @left-panel-font-color: #5e6163;
  @right-panel-font-color: #a0a0a0;

  // make modal background darker
  .modal-backdrop {
    opacity: 0.85;
  }

  .modal-dialog {
    //margin-top: 0;
    border-radius: 0;
    //width: auto;
    margin: 0 auto;
    // width: 300px;

    .modal-content {
      background-color: transparent;
      width: @modal-width;
      min-height: @modal-height;
      box-shadow: none;
      border: none;

      .modal-body {
        padding: 0;
        width: @modal-width;
        min-height: @modal-height;

        #wrapper {
          width: 100%;
          min-height: @modal-height - @footer-height;
          position: relative;
          margin: 12px 0 0;
          div.spinner-container {
            position: absolute;
            right: 10px;
            top: 5px;

            span {
              display: none;

              &.loading {
                display: inline;
              }
            }
          }

          #left-side {
            float: left;
            width: @left-panel-width;
            height: 100%;
            background-color: @left-panel-background;
            padding: 28px 33px 37px 33px;
            position: relative;

            #playfx-logo {
              height: 28px;
            }

            p {
              font-size: 10px;
              color: @left-panel-font-color;
              margin-top: 11px;
              margin-bottom: 0px;
            }

            button {
              display: block;
              width: 170px;
              height: 34px;
              margin: 25px auto 0;
              border-radius: 3px;
              border-color: transparent;
              outline: none;

              &:focus {
                outline: none;
              }

              &.connect-facebook {
                background: #3b5998 url('../button-labels/facebook-title.png') no-repeat center;
                background-size: 74px auto;
              }
              &.connect-google {
                background: #fc1d1d url('../button-labels/google-title.png') no-repeat center;
                background-size: 70px auto;
              }
              &.connect-vk {
                background-color: #4c75a3;
              }
            }

          }
          #right-side {
            height: 100%;
            background-color: @right-panel-background;
            padding: 24px 30px 37px 31px;
            position: relative;

            p {
              font-size: 10px;
              font-weight: bold;
              //margin-top: 26px;
              margin-bottom: 0;
              display:none;
              &:not(.text-danger) {
                color: @right-panel-font-color;
                display: block;
              }

              a {
                color: @right-panel-font-color;
              }

              &.register {
                text-align: right;
                margin-top: 0;
                margin-bottom: 10px;

                a {
                  color: @linkColor;
                  font-size: 10px;
                  font-weight: 700;
                }
              }
              &.recover-pass {
                margin: -3px 0 0;
                padding: 0 0 2px;
                position: relative;
              }
            }

            form.internal-register-form,
            form.internal-login-form {
              & > div.row-fluid {
                padding: 10px 0;
                position: relative;

                input, select {
                  color: #fff;
                  background: none;
                  border: none;
                  border-bottom: 2px solid #858687;
                  width: 100%;
                  font-size: 18px;
                  border-radius: 0;
                  box-shadow: none;
                  padding: 0 0 5px;

                  &:focus {
                    outline: none;
                  }
                }
                select {
                  background-color: #fff;
                  color: #000;
                  border: none;
                  margin: 12px 0 0;
                }

                .error-icon {
                  display: none;
                  position: absolute;
                  right: 0;
                  top: 8px;
                }
              }

              button.internal {
                display: block;
                width: 239px;
                margin: 26px auto 0;
                border-radius: 3px;
                border-color: transparent;
                outline: none;
                background-color: @linkColor;
                color: #1d2225;
                font: 500 14px @lato;
                height: 38px;
                text-transform: uppercase;
              }
            }
          }
        }

        #footer {
          clear: both;
          position: absolute;
          bottom: -30px;
          width: 100%;
          height: @footer-height;   /* Height of the footer */
          background: transparent;
          padding: 15px 0;
          text-align: center;

          & > p {
            margin-bottom: 0;
            font-size: 10px;
            color: #a0a0a0;

            &:first-child {
              margin-bottom: 2px;
            }

            a.terms-conditions {
              color: @linkColor;
            }
          }
        }
      }
    }
  }
}

#registrationModal.modal {

  .modal-dialog {
    margin-top: 0;
    .modal-content {
      width: @modal-register-width;

      .modal-body {
        width: @modal-register-width;
        #wrapper #right-side form.internal-register-form {
          > div.row-fluid {
            float: left;
            width: 50%;
            padding-right: 3.5%;
            margin: 0 0 3px;
          }
          > div.row-fluid.password {
            margin: 59px 0 39px;
          }
          > div.row-fluid:nth-child(even) {
            padding-left: 3.5%;
            padding-right: 0;
          }
        }
        #footer {
          position: static;
        }
      }
    }
  }
  .btn-primary {
    clear: both;
    display: block;
    width: 232px;
    margin: 26px auto 0;
    border-radius: 3px;
    border-color: transparent;
    outline: none;
    background-color: #61ff30;
    color: #1d2225;
    font: 500 14px @lato;
    height: 38px;
    text-transform: uppercase;
  }
}

::-webkit-input-placeholder {color:#ffffff; opacity: 1}
::-moz-placeholder          {color:#ffffff; opacity: 1}/* Firefox 19+ */
:-moz-placeholder           {color:#ffffff; opacity: 1}/* Firefox 18- */
:-ms-input-placeholder      {color:#ffffff;}