/*
 *
 * Copyright (c) 2015  - All rights reserved
 *
 * Filename: main.less
 */
/* Base styles for common game window */
@import "settings";
@import "settings";
@import "game";
@import "info";
@import "login-popup";
@import "welcome-popup";
@import "deposit-popup";
@import "about-popup";

@background-blue-button: #2196f3;
@background-gray-button: #ededed;
@background-green-button: #61ff30;
@color-gray-button: #2196f3;

@medium-font: 0.83em;
@small-font: 0.63em;

body  {
  min-width: 768px;
  min-height: 450px;
}


html, body,
.full-screen, .view,
.section {
  height: 100%;
  font-family: 'Lato' !important;
}

.fa-inverse {
  color: #252e2a !important;
}

.full-screen {
  position: relative;
  > div {
    padding: 0;
    position: absolute;
  }
}

.container-fluid {
  padding: 0;
}

.inner-column {
  padding: 20px;
}

.button {
  border-radius: 3px !important;
  color: white;
  border: none;
  height: 100%;
  text-shadow: none;
}

.button-blue {
  background-color: @background-blue-button;
  border-radius: 3px !important;
  color: white;
  border: none;
  height: 100%;
  text-shadow: none;
}

.button-gray {
  background-color: @background-gray-button;
  border-radius: 3px !important;
  color: @color-gray-button;
  border: none;
  height: 100%;
  text-shadow: none;
}

// prevent popup window on login via google
iframe[src^="https://apis.google.com"] {
  display: none;
}

@font-face {
  font-family: Noto-Sans-Bold;
  src: url('../fonts/Noto-Sans/NotoSans-Bold.ttf');
}

@font-face {
  font-family: Catull;
  src: url('../fonts/Catull/Catull.ttf');
}

.btn-green, .btn-green:hover, .btn-green:active, .btn-green:focus {
  background-color: @background-green-button;
  border: none;
  outline: none;
}

.btn-green {
  border-bottom: 1px solid #40824E !important;
  border-top: 1px solid #76E789 !important;
  box-shadow: none !important;
}

.rate-circle-group {
  transition: stroke-width 250ms linear, stroke-opacity 250ms linear;
  -moz-transition: stroke-width 250ms linear, stroke-opacity 250ms linear;
  -webkit-transition: stroke-width 250ms linear, stroke-opacity 250ms linear;
}

//-----------------------------------------------------responsive styles--------------------------------------
.padding-bot-top-3 {
  padding-bottom: 3px;
  padding-top: 3px;
}

.padding-bot-top-5 {
  padding-bottom: 5px;
  padding-top: 5px;
}

.padding-bot-top-7 {
  padding-bottom: 7px;
  padding-top: 7px;
}

.padding-lt-rt-3 {
  padding-left: 3px;
  padding-right: 3px;
}

.padding-lt-rt-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.padding-lt-rt-7 {
  padding-left: 7px;
  padding-right: 7px;
}

.padding-lt-rt-0 {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1300px) {
  .user-section .column-header.column-user button {
    padding: 0 0 2px 38px;
  }
}

@media (max-width: 1280px) {
  .currency-name, .currency-value, .latest-trades-instrument {
    padding: 0;
  }

  .slim-scroll {
    padding: 0;
  }

  .slimScrollDiv  {
    padding-left: 7px;
    padding-right: 7px;
  }

  .user-section {
    .inner-column.column-latest-trades, .logo {
      padding-left: 7px;
      padding-right: 7px;
    }

    .broker {
      padding-left: 0;
      font-size: 0.9em;
    }
  }

  .user-section .column-latest-trades ul li {
    padding: 1px 0;
  }
}

.game-section .column-game #chart .current-currency-investment {
  @media (max-height: 715px) {
    strong, select {
      font-size: 1.65em !important;
    }
  }

  @media (max-height: 662px) {
    strong, select {
      font-size: 1.58em !important;
    }
  }

  @media (max-height: 609px) {
    strong, select {
      font-size: 1.5em !important;
    }
  }

  @media (max-height: 556px) {
    strong, select {
      font-size: 1.42em !important;
    }
  }

  @media (max-height: 503px) {
    strong, select {
      font-size: 1.33em !important;
    }
  }

  @media (max-height: 450px) {
    strong, select {
      font-size: 1.3em !important;
    }
  }

  @media (max-width: 1215px) {
    select.input-investment {
      width: 134px;
    }
  }

  @media (max-width: 1060px) {
    select.input-investment {
      width: 122px;
    }
  }

  @media (max-width: 1000px) {
    select.input-investment {
      width: 110px;
    }
  }

  @media (max-width: 900px) {
    select.input-investment {
      width: 98px;
    }
  }

  @media (max-width: 835px) {
    select.input-investment {
      width: 80px;
    }
  }

  @media (max-width: 768px) {
    select.input-investment {
      width: 70px;
    }
  }
}

.game-section .column-game .trades-list {
  //0.94
  @media (max-height: 715px) {
    height: 112px * 0.94;
    padding: 25px 21px;
  }

  //0.82
  @media (max-height: 662px) {
    height: 112px * 0.82;
    padding: 17px 17px;
  }

  //0.78
  @media (max-height: 609px) {
    height: 112px * 0.78;
    padding: 13px 15px;
  }

  //0.7
  @media (max-height: 556px) {
    height: 112px * 0.7;
    padding: 8px 10px;
  }

  //0.65
  @media (max-height: 503px) {
    height: 112px * 0.65;
    padding: 6px 5px;
  }

  //0.61
  @media (max-height: 450px) {
    height: 112px * 0.61;
    padding: 3px 0;
  }
}

.game-section .column-game #chart .current-currency-box .new-box {
  @media (max-height: 715px) {
    div {
      font-size: 0.97em !important;
    }

    margin: 0 9px;
    padding: 6px;
  }

  @media (max-height: 662px) {
    div {
      font-size: 0.93em !important;
    }

    margin: 0 8px;
    padding: 5px;
  }

  @media (max-height: 609px) {
    div {
      font-size: 0.9em !important;
    }

    margin: 0 6px;
    padding: 4px;
  }

  @media (max-height: 556px) {
    div {
      font-size: 0.8em !important;
    }

    margin: 0 4px;
    padding: 4px;
  }

  @media (max-height: 503px) {
    div {
      font-size: 0.75em !important;
    }

    margin: 0 2px;
    padding: 2px;
  }

  @media (max-height: 450px) {
    div {
      font-size: 0.7em !important;
    }

    margin: 0;
    padding: 0;
  }
}

.column-game {
  #chart {
    .current-currency-box {
      @media (max-width: 1215px) {
        width: 300px;
        margin-left: 0 !important;
        margin-right: 0 !important;
        .new-box .current-currency-name {
          width: 121px;
        }
      }

      @media (max-width: 1060px) {
        width: 300px;
        margin-left: 0 !important;
        margin-right: 0 !important;
        .new-box .current-currency-name {
          width: 113px;
        }
      }

      @media (max-width: 1000px) {
        width: 300px;
        margin-left: 0 !important;
        margin-right: 0 !important;
        .new-box .current-currency-name {
          width: 104px;
        }
      }

      @media (max-width: 900px) {
        width: 300px;
        margin-left: 0 !important;
        margin-right: 0 !important;
        .new-box .current-currency-name {
          width: 95px;
        }
      }

      @media (max-width: 835px) {
        width: 300px;
        margin-left: 0 !important;
        margin-right: 0 !important;
        .new-box .current-currency-name {
          width: 88px;
        }

      }

      @media (max-width: 768px) {
        width: 300px;
        margin-left: 0 !important;
        margin-right: 0 !important;
        .new-box .current-currency-name {
          width: 80px;
        }
      }

      @media (max-height: 768px) {
        margin-bottom: 0 !important;
      }

    }
  }
}

@media (max-width: 1215px) {
  .user-section .column-header.column-user button {
    padding: 0 0 2px 15px;
  }

  .game-section .column-game #chart .current-currency-investment * {
    line-height: normal;
  }

  .game-section .column-game #chart .current-currency-investment {
    padding: 0;
    min-width: 0;
  }
}

@media (max-width: 1060px) {
  .user-section .column-header.column-user button {
    padding: 0 0 0 7px;
  }
}

@media (max-width: 1000px) {
  .user-section .inner-column.column-currency div.currency-data {
    .padding-bot-top-7;
    font-size: @medium-font;
  }

  .user-section .inner-column.column-latest-trades {
    font-size: @medium-font;
  }
}

@media (max-width: 900px) {
  .user-section .inner-column.column-currency div.currency-data {
    .padding-bot-top-5;
    font-size: @small-font
  }

  .user-section .inner-column.column-latest-trades {
    font-size: @small-font;
  }
}

@media (max-width: 835px) {
  .user-section {
    min-width: 130px;
  }
}

@media (max-width: 768px) {
  .user-section .inner-column.column-currency div.currency-data {
    .padding-bot-top-3;
  }
}

.latest-trades-instrument {
  display: inline-block;
  @media (max-width: 1280px)  {
    width: ~"calc(100% - 36px)";
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

@media (max-height: 768px) {
  .game-section .column-header {
    min-height: 0;
    height: 6%;
    padding: 0 24px !important;
  }

  .game-section .column-game #chart {
    padding: 10px !important;
    height: 83% !important;
  }

  .game-section .column-game {
    height: 94%;
    padding: 0 !important;
    margin: 0 !important;
  }
}
