/*
 *
 * Copyright (c) 2015  - All rights reserved
 *
 * Filename: settings.less
 */

/* Base styles for user settings components */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,900italic,400italic);
@lato: 'Lato', sans-serif;
@base-background-user-section: #1D2225;
@base-background-user-header-section: #1D2225;
@base-background-modal-gray: #ededed;

.user-section {
  background-color: #121212;
  > div.row-fluid {
    height: 100%;
  }

  width: 15%;
  float: left;

  .menu-open{
    display: none;
    height: 100%;
    width: 100%;
    background: #000000;
    z-index: 1;
    position: absolute;
    clear: both;
    opacity: 0.8;
    float: left;
  }

  @media (min-width: 1280px) {
    & > .restricted {
      display: none!important;
    }
    & > .expanded {
      display: block;
    }
  }

  .logo {
    .logo-auth {
      width: 100%;
      max-width: 160px;
    }
    .broker{
      font-family: @lato;
      width: 100%;
      color: #494949;
      float: left;
      padding-left: 7px;
    }
    padding-left: 15px;
    position: absolute;
    bottom: 17px;
  }

  .settings-fluid-wrapper {
    height: 100%;
    margin-top: -115px;
    padding-top: 115px;
    label {
      padding-left: 15px;
      color: #96989a;
      padding-top: 15px;
      margin: 0;
    }

    .tochka{
      background: url("../img/new/tocheka.png");
      width: 15px;
      height: 5px;
      display: block;
      float: right;
      margin-top: 24px;
      margin-right: 10px;
    }
  }

  .trade-checkbox-wrapper {
    background-color: #61ff30;
    display: inline-block;
    height: 16px;
    padding: 0 1px 0 2px;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -khtml-border-radius:3px;
  }
  .column-latest-trades {
    .slimScrollBar {
      right: -20px !important;
    }
    ul {
      list-style: none;
      padding-left: 0;

      li {
        padding: 8px 0;
      }
    }
    label {
      color: #7E7E7E;
      padding-top: 10px;
    }
    .finish {
      color: #686868;
    }
    .latest-trades-time {
      float: right;
      &.up {
        color: #61ff30;
      }
      &.down {
        color: #fc1d1d;
      }
      &.loser {
        color: #686868;
      }
      &.winner {
        color: #61ff30;
      }
    }
  }
  .trades-choice-label,
  .row.currency-data,
  .dropdown-toggle,
  .column-latest-trades  {
    color: #EBEBEB;
  }
  .trades-choice {
    margin: 0 auto;
  }

  .column-latest-trades  {
    margin-bottom: -25px;
    padding-top: 0 !important;

    @media (max-height: 767px) {
      padding-top: 5px !important;
      height: 43%;
      padding-bottom: 0 !important;
    }

    @media (max-height: 600px) {
      height: 46%;
    }

    @media (max-height: 500px) {
      height: 49%;
    }

    padding-bottom: 35px !important;
    height: 43%;
    .fa-sort-desc {
      margin-left: 5px;
      top: -3px;
      position: relative;
    }
    .fa-sort-asc {
      margin-left: 5px;
      top: 3px;
      position: relative;
    }
  }

  .inner-column {
    padding: 15px;
  }

  .column-header.column-user {
    @media (max-height: 768px) {
      min-height: 0;
      height: 6%;
    }

    height: 64px;
    background-color: #000000;
    display: block;

    .connect-button {
      background-color: #61ff30;
    }

    button {
      width: 100%;
      height: 100%;
      padding: 0 0 2px 50px;
      background-color: transparent;
      color: white;
      text-shadow: none;

      .user-name {
        text-overflow: ellipsis;
        display: inline-block;
        width: calc(100% - 30px);
        overflow: hidden;
        white-space: nowrap;
      }
    }

    & > button {
      display: none;
    }
    .user-info {
      display: none;
      height: 100%;
      position: relative;
    }
  }

  .inner-column.column-trades-choice {
    padding-bottom: 10px;
  }

  .inner-column.column-currency {
    height: 45%;
    padding: 0;

    .slim-scroll {
      padding-right: 10px;
    }
    .up {
      color: #61ff30;
    }
    .down {
      color: #fc1d1d;
    }
    .fix {
      color: #EBEBEB;
    }
    div.currency-data {
      padding: 9px 0;
      margin-right: -10px;
      margin-left: 0px;
      cursor: pointer;

      &.disabled {
        cursor: not-allowed;
        color: #7e7f81;
      }

      &:hover {
        //background-color: #bcbcbc;
      }
      .currency-up {
        color: #61ff30;
      }
      .currency-down {
        color:  #fc1d1d;
      }
    }
  }

  .circle {
    width: 40px;
    height: 40px;

    position: relative;
    background-color: #a2a2a2;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: none;

    .social-circle {
      width: 16px;
      height: 16px;
      background-color: #cbcbcb;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      right: -12px;
      bottom: 0px;
      color: #929292;

      text-align: center;
      vertical-align: middle;
      line-height: 16px;
      font-size: 11px;
      i {
        display: none;
        position: absolute;
        top: 3px;

        &[class*='facebook'] {
          right: 5px;
        }

        &[class*='google'] {
          right: 4px;
        }

        &[class*='vk'] {
          top: 2px;
          right: 2px;
        }
      }
    }
  }

  .dropdown {
    width: 100%;
    min-width: 130px;
    height: 100%;
    position: absolute;
    top: 0;

    &.full-width {
      position: relative;
      width: 100%;
    }

    .dropdown-menu {
      -webkit-transform-origin: top;
      transform-origin: top;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-transform: scale(1, 0);
      //display: block;
      transition: all 0.2s linear;
      -webkit-transition: all 0.2s linear;
      width: 100%;
      min-width: 130px;

      background-color: #1d2225;
      margin: 0;
      padding: 0;
      border: none;
      border-radius: 0;
      box-shadow: 0 6px 5px rgba(0,0,0, 0.18);

      & > li {
        position: relative;

        &:hover, &:focus {
          background: #1d2225;
        }

        & > a {
          color: white;
          font: 300 14px @lato;
          display: inline-block;
          width: 100%;
          padding: 17px 10px 18px 25px;
          @media (max-height: 662px) {
            padding: 10px 12px 10px 25px!important;
          }

          &:hover, &:focus {
            background: #444748;
          }

          & > span {
            display: inline-block;
            height: 16px;
            width: 16px;
            background-size: cover;
            margin-right: 10px;
            margin-bottom: -3px;

            &.account {
              height: 20px;
              margin-bottom: -5px;
              background-image: url('../menu-icons/account.png');
            }
            &.settings {
              background-image: url('../menu-icons/settings.png');
            }
            &.positions {
              background-image: url('../menu-icons/positions.png');
            }
            &.withdrawals {
              background-image: url('../menu-icons/withdrawals.png');
            }
            &.help {
              background-image: url('../menu-icons/help.png');
            }
            &.about {
              background-image: url('../menu-icons/about.png');
            }
            &.logout {
              background-image: url('../menu-icons/logout.png');
            }

          }
        }
        i {
          position: absolute;
          right: 15px;
          top: 7px;
        }
      }
    }

    &.open > .dropdown-menu {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
      opacity:1;
    }

    & > button {
      height: 100%;
      background-color: transparent;
      border: none;
      box-shadow: none;
      position: relative;
      text-align: left;

      .caret {
        float: right;
        margin-top: 8px;
        margin-right: 14px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #8a8a8a
      }
    }

    .btn:focus, a:focus {
      outline: none;
    }
  }

  & > .restricted {
    .logo-anonym {
      width: 60px;
      padding-left: 5px;
      padding-bottom: 20px;
    }

    display: none;

    ul {
      padding-left: 0;
      list-style: none;
      li  {
        &.logout-button {
          position: absolute;
          width: 100%;
          bottom: 45px;
        }
        position: relative;

        a {
          color: #ffffff!important;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 23px;
          display: inline-block;
          width: 100%;

          &.list-icon {
            i {
              font-size: 1.7em;
            }
          }

          &:focus {
            outline: none;
          }

          &:hover, &:focus {
            background: #444748;
          }

          & > span {
            display: inline-block;
            height: 24px;
            width: 24px;
            background-size: cover;

            &.account {
              height: 30px;
              background-image: url('../menu-icons/account.png');
            }
            &.settings {
              background-image: url('../menu-icons/settings.png');
            }
            &.about {
              background-image: url('../menu-icons/about.png');
            }
            &.help {
              background-image: url('../menu-icons/help.png');
            }
            &.logout {
              background-image: url('../menu-icons/logout.png');
            }
          }
        }

        // user profile photo
        &:first-of-type {
          background-color: #1d2225;
          height: 64px;

          a {
            padding: 13px 13px 13px 16px;

            &:hover, &:focus {
              background: #1d2225;
            }
          }
        }
        &:last-of-type {
          position: absolute;
          bottom: 0;
          width: 68px;
        }
      }
    }
  }

  & > .anonymous {
    display: none;

    ul {
      padding-left: 0;
      list-style: none;
      li  {
        padding-top: 13px;
        padding-left: 15px;

        &.expand-menu {
          padding-left: 20px;
        }

        a {
          color: #ffffff!important;
          &:focus {
            outline: none;
          }

          &[disabled] {
            pointer-events: none;
            cursor: not-allowed;
            opacity: .65;
          }
        }

        img {
          height: 40px;
          width: 40px;
        }

        &:first-of-type {
          background-color: #1d2225;
          height: 64px;
        }

        &:last-of-type {
          position: absolute;
          bottom: 15px;
          padding: 0 9px;
          margin-bottom: 10px;
          img {
            height: auto;
            width: 50px;
          }
        }
      }
    }
  }
}