/*
 *
 * Copyright (c) 2015  - All rights reserved
 *
 * Filename: welcome-popup.less
 */



#welcomeModal {
  @modal-width: 490px;
  @modal-height: 300px;
  @left-panel-width: 235px;


  .modal-dialog {
    border-radius: 0;
    //width: auto;

    .modal-content {
      background-color: transparent;
      width: @modal-width;
      height: @modal-height;
      box-shadow: none;
      border: none;

      .modal-body {
        width: @modal-width;
        height: @modal-height;
        padding: 0;
        font-size: 12px;

        #left-bar {
          float: left;
          width: @left-panel-width;
          height: 100%;
          background: #ededed url('../man.png') no-repeat no-repeat right center;
          background-size: 200px 243px;
        }

        #right-bar {
          width: @modal-width - @left-panel-width;
          height: 100%;
          float: right;
          background-color: #23292d;
          padding: 30px;
          color: #fff;

          h4#welcome-caption {
            margin: 0 0 20px;
            color: #ffffff;
            font-weight: normal;
            font-size: 16px;
          }

          p {
            margin: 0;
          }

          div.actions {
            margin-top: 23px;
            margin-bottom: 35px;
          }

          button.show-tutorial {
            background-color: #61ff30;
            color: black;
            border: 0;
            outline: 0;
            width: 100%;
            border-radius: 3px;
            box-shadow: none;
            font-size: 12px;
            font-weight: 600;

            &:focus, &:hover {
              outline: none;
            }
          }

          a.close {
            display: block;
            background-color: transparent;
            color: #61ff30;
            border: 0;
            outline: 0;
            width: 100%;
            border-radius: 3px;
            box-shadow: none;
            font-size: 13px;
            font-weight: 400;
            opacity: 1;
            margin-top: 10px;
            text-shadow: none;

            &:focus, &:hover {
              outline: none;
              opacity: .85;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}